@font-face
  font-family: 'Anton'
  src: url('./fonts/Anton-Regular.ttf')
  font-weight: 400

@font-face
  font-family: 'Roboto'
  src: url('./fonts/Roboto-Regular.ttf')
  font-weight: 400
@font-face
  font-family: 'RobotoMono'
  src: url('./fonts/RobotoMono-Regular.ttf')
  font-weight: 400

// $primary: #FFD369
$primary: #F1FF48
$secondary: #7B00FE
$third: #ffffff
$fourth: #181818
$light: #EEEEEE
$dark: #191919

@function fs($num)

  @return calc($num *1vw + $num*1vh)

// .ErrorPage
//   background-color: $fourth
//   &p
//     color: #eee

// .dark
//   background-color: #181818
//   ::-webkit-calendar-picker-indicator
//     background-color: #eee
//   p
//     color: #eee
//   path
//     fill: #eee
//   div
//     border-color: #eee
//   .modal
//     background-color: #181818
//   input
//     color: #eee
//     background-color: #181818
//     border-color: #eee
//   .btn
//     background-color: #eee
//     p
//       color: #181818
//   .categ_active
//     background-color: #eee
//     p
//       color: #181818

// .light
//   background-color: #eee
//   p
//     color: #181818
//   path
//     fill: #181818
//   div
//     border-color: #181818
//   .modal
//     background-color: #eee
//   input
//     color: #181818
//     background-color: #eee
//     border-color: #181818
//   .btn
//     background-color: #181818
//     p
//       color: #eee
//   .categ_active
//     background-color: #181818
//     p
//       color: #eee

// h6
//   font-family: 'Anton'
//   color: #eee
// h5
//   font-family: 'Anton'

// p
//   font-family: 'Roboto'

// h1
//   font-family: 'RobotoMono'
