.blackscreen
  width: 100%
  height: 100%
  background-color: #181818a5
  position: absolute
  display: flex
  justify-content: center
  z-index: 5000
  position: fixed

.modal_ctn
  margin-top: 10vh
  width: 850px
  height: 80vh
  background-color: #fff
  padding: 2.5em 2.5em 4em
  box-sizing: border-box
  border-radius: 12px
  display: flex
  flex-direction: column
  overflow: auto
.modal_top
  display: flex
  flex-direction: row
  justify-content: space-between
  h6
    color: #181818
    font-size: 2em
  .cross_ctn
    margin-top: -2em
    margin-right: -2em
    padding: 1em
    cursor: pointer

.input_label
  .input_label_top
    display: flex
    justify-content: space-between
    svg
      height: 24px
      width: 24px
      cursor: pointer
      // background-color: red
